<form [formGroup]="form">
  <div class="underline">
    <h1>Feedback</h1>
    <button mat-raised-button routerLink="/reviews">Lees andere</button>
  </div>
  <p>
    Heb je een bug gevonden, mis je ergens een feature of wil je gewoon je
    mening geven? Alles kan je hier kwijt. Je naam en email zijn optioneel.
    Alvast bedankt!
  </p>

  <mat-form-field appearance="fill">
    <mat-label>Naam</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      placeholder="Ex. pat@example.com"
      matInput
      formControlName="email"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Bericht</mat-label>
    <textarea
      rows="7"
      type="text"
      matInput
      formControlName="message"
    ></textarea>
  </mat-form-field>
  <div class="bottom-buttons">
    <mat-checkbox formControlName="showOthers" [color]="'primary'"
      >Deel dit met anderen</mat-checkbox
    >
    <button (click)="submit()" mat-raised-button>Verzend</button>
  </div>
</form>
