form {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 90%;
  margin: auto;
}

.underline {
  padding-bottom: 0.5rem;
  border-bottom: rgba(0, 0, 0, 0.425) solid 0.1rem;
}
h1 {
  color: #673ab7;
  font-weight: 700;
  font-size: 2rem;
}
form > div {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

form > p {
  margin: 1rem auto;
}

button {
  max-width: 8rem;
}

form > .bottom-buttons {
  display: flex;
  justify-content: space-around;
}
