.card {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: min-content;
  margin: auto;
  margin-top: 3rem;
}

.lighter {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
}

