@if (messages$ | async; as messages) {
<div class="container">
  <div class="title">
    <h1>Reviews</h1>
    <button mat-raised-button routerLink="/feedback">Schrijf zelf</button>
  </div>
  <div class="messages">
    @for (message of messages; track message) {
    <mat-card>
      <mat-card-title> {{ message.name }} </mat-card-title>
      <mat-card-subtitle>{{
        message.dateSent.toLocaleString()
      }}</mat-card-subtitle>
      <mat-card-content>{{ message.message }}</mat-card-content>
    </mat-card>
    }
  </div>
</div>
} @else {
<mat-spinner></mat-spinner>
}
