@if (classoverview$ | async; as dataSource) {
<form [formGroup]="form">
  <mat-button-toggle-group class="m-1 stand-out" formControlName="class">
    @for (class of classoverview.classes; track class) {
    <mat-button-toggle value="{{ +class.class }}">{{
      class.class
    }}</mat-button-toggle>
    }
  </mat-button-toggle-group>
  <mat-button-toggle-group class="m-1 stand-out" formControlName="division">
    @for (division of divisions; track division) {
    <mat-button-toggle value="{{ division }}">{{ division }}</mat-button-toggle>
    }
  </mat-button-toggle-group>
</form>
<app-division-standings [form]="form"></app-division-standings>
} @else {
<mat-spinner></mat-spinner>
}
