.card {
  width: 95%;
  border: 2px solid rgba(137, 43, 226, 0.342);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: min-content;
  margin: auto;
  margin-top: 3rem;
}

.lighter {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
}

.stand-out {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
