<div class="result-card">
  <ng-container *ngIf="date$|async as date ">
    <span class="date">{{date.toLocaleDateString('nl-BE')}}</span>
  </ng-container>

  <div class="score-line">
  <div class="team">
    <span *ngIf="round.teamHome"  class="team-name clickable-title" [routerLink]="['//club/' +round.teamHome.clubId + '/' + round.teamHome.id]">
      {{ round.teamHome.clubName }}
      {{ round.teamHome.id }}
    </span>
    <span *ngIf="!round.teamHome" class="team-name"> BYE </span>
    <span class="rating" *ngIf="round?.averageRatingHome">{{ round.averageRatingHome }}</span>
  </div>
  <span class="result"> {{ round.scoreHome }} - {{ round.scoreAway }} </span>
  <div class="team">
    <span *ngIf="round.teamAway"  class="team-name clickable-title" [routerLink]="['//club/' +round.teamAway.clubId + '/' + round.teamAway.id]">
      {{ round.teamAway.clubName }}
      {{ round.teamAway.id }}</span>
    <span *ngIf="!round.teamAway" class="team-name"> BYE </span>
    <span class="rating" *ngIf="round?.averageRatingAway">{{ round.averageRatingAway }}</span>
  </div>
</div>

</div>

<table mat-table [dataSource]="round.games" class="mat-elevation-z8 big-table">
  <ng-container matColumnDef="board">
    <th mat-header-cell *matHeaderCellDef>Bord</th>
    <td mat-cell *matCellDef="let element">
      {{ element.board }}
    </td>
  </ng-container>

  <ng-container matColumnDef="white">
    <th mat-header-cell *matHeaderCellDef>Wit</th>
    <td
      mat-cell
      *matCellDef="let element"
      [routerLink]="['/player/' + element.white.id]"
      class="clickable-title"
      [ngClass]="sameTeam(element.teamWhite,this.team)? 'fat' : ''"
    >
      <div>
        {{ element.white.firstName }} {{ element.white.name }} ({{
          element.white.rating
        }})
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="black">
    <th mat-header-cell *matHeaderCellDef>Zwart</th>
    <td
      mat-cell
      *matCellDef="let element"
      [routerLink]="['/player/' + element.black.id]"
      class="clickable-title"
      [ngClass]="sameTeam(element.teamBlack,this.team)? 'fat' : ''"
    >
      {{ element.black.firstName }} {{ element.black.name }} ({{
        element.black.rating
      }})
    </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>Resultaat</th>
    <td mat-cell *matCellDef="let element">
      {{ element.result | result }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsRound"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsRound"></tr>
</table>
