<ng-container *ngIf="clubOverview$ | async as clubOverview; else loading">
  <mat-tab-group animationDuration="200ms">
    <mat-tab
      *ngFor="let province of clubOverview.provinces"
      label="{{ province.id | province }}"
    >
      <div class="d-flex">
        <mat-card
          class="card"
          *ngFor="let club of province.clubs"
          (click)="navigateToClub(club.id)"
        >
          <p>{{ club.id }}</p>
          <p>{{ club.name }}</p>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
