.card {
  margin: 1rem;
  width: 7rem;
  height: 4rem;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor:pointer;
}

.card:hover {
  background-color: rgba(137, 43, 226, 0.5);
}

.card> *{
  cursor: pointer;
}


.d-flex {
  display: flex;
  flex-wrap: wrap;
}
