@if (club$ | async; as clubView) {
<h1>
  {{ clubView.name }}
</h1>
<h2>({{ clubView.id }})</h2>
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    [active]="(activeLink | async) === 'players'"
    [routerLink]="['players']"
  >
    Spelers
  </a>
  <a
    mat-tab-link
    [active]="(activeLink | async) === 'location'"
    [routerLink]="['location']"
  >
    Locatie
  </a>
  @for (team of clubView.teams; track team) {
  <a
    mat-tab-link
    [active]="(activeLink | async) === team.id.toString()"
    [routerLink]="[team.id.toString()]"
  >
    Team {{ team.id }} ({{ team.class }}{{ team.division }})
  </a>
  }
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
} @else {
<mat-spinner></mat-spinner>
}
