.card {
  max-width: 20rem;
  margin: auto;
  margin-top: 3rem;
}

.black {
  background-color: black;
  width: 1rem;
  height: 1rem;
}

.white {
  border: 0.12rem solid black;
  width: 0.76rem;
  height: 0.76rem;
}

.details {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 1rem 0rem;
}

.center {
 padding-top: 1rem;
 justify-content: center;
 text-align: center;
}
