<div class="container">
  <mat-toolbar
    style="min-height: 64px"
    class="mat-elevation-z6 toolbar"
    color="primary"
  >
    <div routerLink="" class="clickable-button middle">
      <span class="material-icons m-05"> home </span>
      <span>Interclub</span>
    </div>
    <mat-select
      [(value)]="year"
      (valueChange)="changeYear()"
      style="width: min-content; margin: 0 1rem"
    >
      <mat-option value="2021">2022</mat-option>
      <mat-option value="2020">2020</mat-option>
      <mat-option value="2019">2019</mat-option>
      <mat-option value="2018">2018</mat-option>
      <mat-option value="2017">2017</mat-option>
      <mat-option value="2016">2016</mat-option>
    </mat-select>
    <div style="flex-grow: 1"></div>

    <div routerLink="hallOfFame" class="middle clickable-button">
      <span class="material-icons m-05"> group </span>
      <span class="hide-mobile">Spelers</span>
    </div>

    <div routerLink="division" class="middle clickable-button">
      <span class="material-icons m-05"> leaderboard </span>
      <span class="hide-mobile">Stand</span>
    </div>

    <div routerLink="feedback" class="middle clickable-button">
      <span class="material-icons m-05"> feedback </span>
      <span class="hide-mobile">Feedback</span>
    </div>
  </mat-toolbar>
  <div style="flex-grow: 1">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="flex footer">
      <a
        class="middle"
        href="https://www.frbe-kbsb-ksb.be/competition/interclubs-2021-22"
        >Data door Kbsb</a
      >
      <span class="middle">Gemaakt door Martijn Maddens</span>
      <a
        class="clickable-button hyperlink-button middle"
        href="https://github.com/MaddensProgramming/interclub"
      >
        <img src="../assets/github-circle-white-transparent.svg" />
        GitHub
      </a>
    </div>
  </footer>
</div>
