.clickable-button {
  cursor: pointer;
  padding: 0.5rem;
}

.clickable-button:hover {
  background: rgba(0, 0, 0, 0.4);
}

footer {
  background-color: #dddddd;
  text-align: center;
  margin-top: 4rem;
}

.footer {
  justify-content: space-around;
  min-height: 5rem;
  color: black;
  margin-top: auto;
}

.hyperlink-button {
  color: black;
  text-decoration: none;
  vertical-align: middle;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin: 0.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
