@if (division$ | async; as division) {
@if (division.resultsNote) { <p>{{ division.resultsNote }}</p> }
<table [cellSpacing]="0">
  <tr class="titles">
    <th>Ploeg</th>
    @for (team of division.teams; track team; let indexTeam = $index) {
    <th>
      {{ indexTeam + 1 }}
    </th>
    }
    <th>MP</th>
    <th>BP</th>
  </tr>
  @for (teamHome of division.teams; track teamHome; let indexTeam = $index) {
  <tr>
    <th
      class="teams clickable-title"
      [routerLink]="'/club/' + teamHome.clubId + '/' + teamHome.id"
    >
      {{ indexTeam + 1 }}. {{ teamHome.clubName }} {{ teamHome.id }}
    </th>
    @for (teamAway of division.teams; track teamAway) {
    <td class="result-cell" [class.black]="sameTeam(teamHome, teamAway)">
      <div class="match-scores">
      @for (match of matches(teamHome, teamAway); track match.id) {
        <a class="score-link" [ngClass]="colorResult(match, teamHome)"
          [routerLink]="['/club', teamHome.clubId, teamHome.id, roundTab(teamHome, match)]"
          [title]="'Ronde ' + match.id">
          {{ score(match, teamHome) }}
        </a>
      }
      </div>
    </td>
    }
    <td class="important">{{ teamHome.matchPoints }}</td>
    <td class="important">{{ teamHome.boardPoints }}</td>
  </tr>
  }
</table>
} @else {
<mat-spinner></mat-spinner>
}
