<ng-container *ngIf="division$ | async as division; else loading">
  <table [cellSpacing]="0">
    <tr class="titles">
      <th>Ploeg</th>
      <th *ngFor="let team of division.teams; let indexTeam = index">
        {{ indexTeam + 1 }}
      </th>
      <th>MP</th>
      <th>BP</th>
    </tr>
    <tr *ngFor="let teamHome of division.teams; let indexTeam = index">
      <th
        class="teams clickable-title"
        [routerLink]="'/club/' + teamHome.clubId + '/' + teamHome.id"
      >
        {{ indexTeam + 1 }}. {{ teamHome.clubName }} {{ teamHome.id }}
      </th>
      <td
        class="clickable-title"
        *ngFor="let teamAway of division.teams"
        [ngClass]="colorResult(teamAway, teamHome)"
        [routerLink]="'/club/' + teamHome.clubId + '/' + teamHome.id"
        [queryParams]="{ round: round(teamHome, teamAway) }"
      >
        {{ findResult(teamHome, teamAway) }}
      </td>
      <td class="important">{{ teamHome.matchPoints }}</td>
      <td class="important">{{ teamHome.boardPoints }}</td>
    </tr>
  </table>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
