<div class="narrow-section">
  <img
    src="assets/fail_unicorn.svg"
    class="failUnicorn img-responsive"
    width="350"
    height="350"
    style="opacity: 1"
  />
  <p>
    U hebt een ongeloofelijk fabelachtig wezen ontdekt: de
    <span class="magenta"> Eenhoorn van ontbrekende pagina's. </span>
  </p>
  <p>
    De Eenhoorn spreekt: "De pagina waar je naar op zoek bent is hier niet. Die
    kan ergens anders zijn of die kan nooit bestaan hebben. De wereld is
    vluchtig, altijd in verandering. Maar houdt moed hoog, nog niet alles is
    verloren.
  </p>
  <p>
    Bezoek <a [routerLink]="['']">de interclub homepagina</a> en u zult vinden
    wat u zoekt. De langste weg is de kortste weg naar huis.
  </p>
</div>
