<ng-container *ngIf="club$ | async as clubView; else loading">
  <h1 style="text-align: center; margin-top: 1rem">
    {{ clubView.name }}: {{ clubView.id }}
  </h1>
  <mat-tab-group animationDuration="0ms">
    <mat-tab
      *ngFor="let team of clubView.teams"
      label="{{ clubView.name }} {{ team.id }} ({{ team.division }})"
    >
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Spelers">
          <table
            mat-table
            [dataSource]="team.players"
            style="width: 100%"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Stamnummer</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Naam</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef>Rating</th>
              <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
            </ng-container>

            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef>Score</th>
              <td mat-cell *matCellDef="let element">
                {{ element.score }}/{{ element.numberOfGames }}
              </td>
            </ng-container>

            <ng-container matColumnDef="tpr">
              <th mat-header-cell *matHeaderCellDef>TPR</th>
              <td mat-cell *matCellDef="let element">{{ element.tpr }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPlayer"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsPlayer"
              (click)="showPlayer(row.id)"
            ></tr>
          </table>
        </mat-tab>
        <mat-tab *ngFor="let round of team.rounds" label="{{ round.id }}">
          <h1 style="text-align: center; margin-top: 1rem">
            {{ round.games[0].teamWhite.clubName }}
            {{ round.games[0].teamWhite.teamNumber }} -
            {{ round.games[0].teamBlack.clubName }}
            {{ round.games[0].teamBlack.teamNumber }}
          </h1>
          <h1 style="text-align: center; margin-top: 1rem">
            {{ round.scoreHome }} - {{ round.games.length - round.scoreHome }}
          </h1>
          <table
            mat-table
            [dataSource]="round.games"
            style="width: 100%"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="board">
              <th mat-header-cell *matHeaderCellDef>Bord</th>
              <td mat-cell *matCellDef="let element">
                {{ element.board }}
              </td>
            </ng-container>

            <ng-container matColumnDef="white">
              <th mat-header-cell *matHeaderCellDef>Wit</th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="showPlayer(element.white.id)"
                [ngClass]="element.white.fat ? 'fat' : ''"
              >
                <div>{{ element.white.name }} ({{ element.white.rating }})</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="black">
              <th mat-header-cell *matHeaderCellDef>Zwart</th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="showPlayer(element.black.id)"
                [ngClass]="element.black.fat ? 'fat' : ''"
              >
                {{ element.black.name }}({{ element.black.rating }})
              </td>
            </ng-container>

            <ng-container matColumnDef="result">
              <th mat-header-cell *matHeaderCellDef>Resultaat</th>
              <td mat-cell *matCellDef="let element">
                {{ element.result | result }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsRound"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsRound"
            ></tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
