<ng-container *ngIf="club$ | async as clubView; else loading">
  <h1>
    {{ clubView.name }}
  </h1>
  <h2>({{ clubView.id }})</h2>
  <mat-tab-group animationDuration="200ms">
    <mat-tab label="Alles">
      <app-player-list
        [players]="clubView.players"
        [showTpr]="true"
      ></app-player-list>
    </mat-tab>
    <mat-tab
      *ngFor="let team of clubView.teams"
      label="Team {{ team.id }} ({{ team.class }}{{ team.division }})"
    >
      <app-team-view [clubId]="team.clubId" [id]="team.id"></app-team-view>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
