form {
  display: flex;
  flex-direction: column;
}


form > * {
  width: 90%;
  margin: auto;
}


h1{
   color:#673ab7;
   font-weight: 700;
   font-size: 2rem;
}
form>div {
  margin: 2rem auto;
  display: flex;
  justify-content:space-between;
}

form> p {

  margin:  1rem auto;

}

button{
  max-width: 8rem;
}


