<div class="result-card">
  <div class="team">
  <span class="team-name">
    {{ round.games[0].teamWhite.clubName }}
    {{ round.games[0].teamWhite.teamNumber }}
  </span>
  <span class="rating">{{averageEloHome}}</span>
</div>
  <span  class="result">
    {{ round.scoreHome }} - {{ round.games.length - round.scoreHome }}
  </span>
  <div class="team">
  <span  class="team-name">   {{ round.games[0].teamBlack.clubName }}
    {{ round.games[0].teamBlack.teamNumber }}</span>
    <span class="rating">{{averageEloAway}}</span>
  </div>
</div>

<table mat-table [dataSource]="round.games" class="mat-elevation-z8 big-table">
  <ng-container matColumnDef="board">
    <th mat-header-cell *matHeaderCellDef>Bord</th>
    <td mat-cell *matCellDef="let element">
      {{ element.board }}
    </td>
  </ng-container>

  <ng-container matColumnDef="white">
    <th mat-header-cell *matHeaderCellDef>Wit</th>
    <td
      mat-cell
      *matCellDef="let element"
      [routerLink]="['/player/' + element.white.id]"
      class="clickable-title"
      [ngClass]="element.white.clubId === clubId ? 'fat' : ''"
    >
      <div>{{ element.white.name }} ({{ element.white.rating }})</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="black">
    <th mat-header-cell *matHeaderCellDef>Zwart</th>
    <td
      mat-cell
      *matCellDef="let element"
      [routerLink]="['/player/' + element.black.id]"
      class="clickable-title"
      [ngClass]="element.black.clubId === clubId ? 'fat' : ''"
    >
      {{ element.black.name }}({{ element.black.rating }})
    </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>Resultaat</th>
    <td mat-cell *matCellDef="let element">
      {{ element.result | result }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsRound"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsRound"></tr>
</table>
