/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.big-table {
  width: 95%;
  max-width: 60rem;
  margin: auto;
  margin-top: 3rem;
}

.clickable-title {
  cursor: pointer;
}

.clickable-title:hover {
  text-decoration: underline;
}

label {
  font-weight: bold;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.center {
  justify-content: center;
  text-align: center;
}

.m-1 {
  margin: 1rem;
}
.m-05 {
  margin: 0.5rem;
}

.fat {
  font-weight: bold;
}

.flex {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
